<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
    <title>Contested</title>
</head>

<body>
    <div class="container p-3">
        <div class="header d-flex justify-content-between align-items-center">
            <div class="col-9 d-flex">
                <h1>Contested</h1>
            </div>
            <div class="col-3">
                <a href="/dashboard" class="btn btn-primary">All Contests</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
        <div class="page-header">
            <h1>{{contest.name}}</h1>
            <h5>Hosted By: {{contest.first_name}}</h5>
            <p>{{contest.description}}</p>
            {% if session["user_id"] == contest.user_id and contest.isOpen %}
            <a class="btn btn-primary" href="/contests/{{contest.id}}/edit">Edit Contest</a>
            <a class="btn btn-danger" href="/contests/{{contest.id}}/close">Close Contest</a>
            {% endif %}
        </div>
        <div class="d-flex">
            <div class="col-9 p-2" id="contest-table-div">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Entry Name</th>
                            <th>By</th>
                            <th>Your Rating</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in items %}
                        <tr>
                            <td>{{entry.name}}</td>
                            <td>{{entry.first_name}}</td>
                            {% if session["user_id"] == entry.owner_id %}
                            <td></td>
                            <td>
                                <a href="/contests/{{contest.id}}/items/{{entry.id}}"
                                    class="btn btn-outline-primary">Edit</a>
                                <a href="/contests/{{contest.id}}/items/{{entry.id}}/delete"
                                    class="btn btn-outline-danger">Delete</a>
                            </td>

                            {% else %}
                            <td>
                                {% with messages = get_flashed_messages(category_filter=["rating"]) %}
                                {% if messages %}
                                {% for message in messages %}
                                <p class="error">{{message}}</p>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <form action="/contests/{{contest.id}}/items/{{entry.id}}/rate" method="post">
                                    <input type="number" name="score" id="" value="{{entry.score}}"
                                        style="width: 60px;">
                                    {% if entry.score == None %}
                                    <button class="btn btn-primary">Rate</button>
                                    {% endif %}
                                </form>
                            </td>
                            <td>
                                {% if entry.score != None %}
                                <a href="/contests/{{contest.id}}/items/{{entry.id}}/{{entry['r.id']}}/delete"
                                    class="btn btn-outline-danger">Delete Rating</a>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if contest.isOpen %}
            <div class="col-3 p-2 border">
                <h2>Add Entry</h2>
                {% with messages = get_flashed_messages(category_filter=["item"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="error">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form action="/contests/{{contest.id}}/items/new" method="post">
                    <label for="item_name" class="form-label">Entry Name:</label>
                    <input type="text" name="item_name" class="form-control" value="{{session.item_name}}">
                    <label for="item_description" class="form-label">Description:</label>
                    <input type="text" class="form-control" name="item_description" value="{{session.item_description}}">
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>