<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Contested</title>
</head>

<body>
    <div class="container p-3">
        <div class="cd-header row">

            <div class="logo">
                <img src="../../static/images/Contested-Logo.png" alt="Contested Logo" width="500">
            </div>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-item btn btn-nav" id="nav-ac"
                        onmouseover="this.style.background = '#e323bf'"
                        onmouseleave="this.style.background = '#ffffff'">All Contests</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-item btn btn-nav" onmouseover="this.style.background = '#e323bf'"
                        onmouseleave="this.style.background = '#ffffff'">Logout</a>
                </li>
            </ul>

        </div>
        <div class="main-contest-detail">
            <div class="cd-header d-flex justify-content-center align-items-center">

                <div class="cd-header-content col-5">
                    <h1>{{contest.name}}</h1>
                    <h5>Hosted By: {{contest.first_name}}</h5>
                    <p>{{contest.description}}</p>
                    <div class="cd-header-btns">
                        {% if session["user_id"] == contest.user_id and contest.isOpen %}
                        <a class="btn btn-edit" href="/contests/{{contest.id}}/edit">Edit Contest</a>
                        <a class="btn btn-delete" href="/contests/{{contest.id}}/close">Close Contest</a>
                        {% elif session["user_id"] == contest.user_id and not contest.isOpen %}
                        <a href="/contests/{{contest.id}}/open" class="btn btn-edit">Reopen Contest</a>
                        {% endif %}
                    </div>
                </div>

                {% if contest.isOpen %}
                <div class="m-2 p-3 add-entry col-5">
                    <h2 class="text-center">Add Entry</h2>
                    {% with messages = get_flashed_messages(category_filter=["item"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="error">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="/contests/{{contest.id}}/items/new" method="post" class="row">
                        <div class="col">
                            <label for="item_name" class="form-label">Entry Name</label>
                            <input type="text" name="item_name" class="form-control" value="{{session.item_name}}">
                            <label for="item_description" class="form-label">Description</label>
                            <input type="text" class="form-control" name="item_description"
                                value="{{session.item_description}}">
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button class="btn btn-submit add-edit-entry-btn">Submit</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="contest-details d-flex justify-content-center align-items-start">
                <div class="col-10 p-2 contest-table-div">
                    <table class="table table-light table-striped table-responsive contest-table">
                        <thead>
                            <tr>
                                <th>Entry Name</th>
                                <th>By</th>
                                <th>Your Rating</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with messages = get_flashed_messages(category_filter=["rating"]) %}
                            {% if messages %}
                            {% for message in messages %}
                            <p class="error">{{message}}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            {% for entry in items %}
                            <tr>
                                <td>{{entry.name}}</td>
                                <td>{{entry.first_name}}</td>
                                {% if session["user_id"] == entry.owner_id %}
                                <td></td>
                                <td>
                                    <a href="/contests/{{contest.id}}/items/{{entry.id}}" class="btn btn-edit">Edit</a>
                                    <a href="/contests/{{contest.id}}/items/{{entry.id}}/delete"
                                        class="btn btn-delete">Delete</a>
                                </td>
                                {% else %}
                                <td>
                                    <form action="/contests/{{contest.id}}/items/{{entry.id}}/rate" method="post">
                                        <input type="number" name="score" id="" value="{{entry.score}}"
                                            style="width: 60px;">
                                        {% if entry.score == None %}
                                        <button class="btn btn-submit">Rate</button>
                                        {% endif %}
                                    </form>
                                </td>
                                <td>
                                    {% if entry.score != None %}
                                    <a href="/contests/{{contest.id}}/items/{{entry.id}}/{{entry['r.id']}}/delete"
                                        class="btn btn-delete">Delete Rating</a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if not items %}
                    <div class="text-center">
                        <p class="no_entries">No entries to display</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>