<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
    <title>Contested</title>
</head>

<body>
    <div class="container p-3">
        <div class="header d-flex justify-content-between align-items-center">
            <h1>Contested</h1>
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
        <div class="main d-flex">
            <div class="col-3 p-2">
                <h1>All Contests</h1>
                <div class="list-group">
                    {% for contest in all_contests %}
                    <a id={{contest.id}} href="/contests/{{contest.id}}/items" class="list-group-item list-group-item-action">{{ contest.name }}</a>
                    <!-- <a id={{contest.id}} href="/contests/{{contest.id}}/items" onclick="display_contest_data()" class="list-group-item list-group-item-action">{{ contest.name }}</a> -->
                    {% endfor %}
                </div>
                <a class="btn btn-primary" href="/contests/new">Add Contest</a>
            </div>
            <div class="col-9" id="contest-table-div" style="display: none;">
                <h1>Test</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Entry Name</th>
                            <th>By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in items %}
                        <tr>
                            <td>{{entry.name}}</td>
                            <td>{{entry.first_name}}</td>
                            <td>
                                {% if session["user_id"] == entry.user_id %}
                                <a href="/contests/{{contest.id}}/items/{{entry.id}}/delete">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th>Entry Name</th>
                            <th>By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                    </tbody>
                </table> -->

            </div>
        </div>

    </div>
    <script>
        function display_contest_data() {
            <!-- var set_contest_view =  -->
            var div = document.getElementById('contest-table-div');
            div.removeAttribute('style')
        }
    </script>
</body>

</html>

<!-- onclick="revealContestTable(this.id)" -->