:root {
    --yellow: #fdfe00;
    --pink: #e323bf;
    --teal: #09d8f2;
    --purple: #7223df;
    --dark: #333333;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px black solid; */
}

/* ------ INDEX ------- */
body {
    background-color: var(--dark);
}
.index-main {
    justify-content: center;
}

.reg-form {
    text-align: center;
}

.login-form {
    text-align: center;
}

.reg-btn, .login-btn, .btn, .return-btn, .logout-btn, .dashboard-btn {
    background-color: var(--pink);
    color: white;
    margin: 10px;
}

.reg-btn:hover, .login-btn:hover, .btn:hover, .return-btn:hover, .logout-btn:hover, .dashboard-btn:hover {
    background-color: var(--yellow);
}

.error {
    color: var(--pink);
    text-align: center;
}

/* ------ DASHBOARD ------- */

.dashboard-component {
    background-color: #363537cc;
    margin: 20px;
    padding: 20px;
    border: 3px white solid;
    border-radius: 20px;
}

h1 {
    color: white;
}

.list-group-item {
    background-color: var(--pink);
    color: white;
}

.add-contest-label {
    color: white;
}

p.no_entries {
    color: black;
}

.add-edit-entry-btn {
    width: 100px;
}

/* ---- CONTEST DETAIL, RESULTS ----- */

.cd-header, .result-header {
    margin: 20px 0px 0px 0px;
    color: white;
}

.cd-header-content, .result-header-content {
    padding: 10px 0px 20px 50px;
}

.main-contest-detail, .main-result  {
    background-color: #363537cc;
    border-radius: 20px;
    border: white 5px solid;
}

.btn-nav {
    background-color: white;
    color: var(--pink);
    margin: 0px 2px;
}

.btn-edit {
    background-color: var(--teal);
}

.btn-submit {
    background-color: white;
    color: var(--pink);
    border: var(--pink) 2px solid;
}

.add-entry {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    color: var(--pink);
    max-height: 400px;
}

.edit-contest, .edit-entry {
    border: white 2px solid;
    border-radius: 10px;
}

.contest-table-div {
    background-color: white;
    padding: 20px;
    margin: 20px;
}